In [1]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.1.3-cp38-cp38-win_amd64.whl (8.9 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\andre\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.2-cp38-cp38-win_amd64.whl (13.0 MB)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.2 pandas-1.1.3 pytz-2020.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1.1; however, version 20.2.4 is available.
You should consider upgrading via the 'c:\users\andre\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [5]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [7]:
import pandas

In [8]:
df1=pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20